<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Länder</title>

    <link href="../bootstrap.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../ajax.js"></script>
    <script src="../navbar_functionality.js"></script>
    <script src="../country_loader.js"></script>
</head>
<body>
<div id="Page_one" > <!-- class container -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ms-3" href="#">HTW Dresden</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/homepage/faculties">Fakultäten</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/institutes">Hochschulen</a></li>
            <li class="nav-item"><a class="nav-link active" href="/homepage/countries">Länder</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/mentor">Mentoren</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/courses">Studiengänge</a></li>
        </ul>
        <ul class="navbar-nav me-2">
        <li class="nav-item m-1">
            <div class="in-navbar" id="handbuch">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">Handbücher</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Anwenderdokumentation.html">Anwenderdokumentation</a></li>
                        <li><a class="dropdown-item" href="/Betriebsdokumentation.html">Betriebsdokumentation</a></li>
                    </ul>
                </div>
            </div>
        </li>
        
        <li class="nav-item m-1">
            <div class="in-navbar" id="Logout">
                <button class="btn btn-sm btn-outline-danger btn-logout" type="button">Logout</button>
            </div>
        </li>
        </ul>
    </div>
    </nav>
    <div class="my-content">
        <h1 class="text-center m-4">Länder</h1>
        <div id="tbl"> <!-- container mt-4-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Land (DE)</th>
                        <th>Land (EN)</th>
                        <th>Erasmus berechtigt</th>
                    </tr>
                </thead>
                <tbody id="addCountries">

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
