<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Berichte</title>
    <!-- Styling -->
    <link href="../style.css" rel="stylesheet">
    <link href="../bootstrap.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Funktionalität -->
    <script src="../ajax.js"></script>
    <script src="../navbar_functionality.js"></script>
    <script src="../report_helper.js"></script>

</head>
<body>
<div id="Page_one" >
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ms-3" href="#">HTW Dresden</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/homepage/faculties">Fakultäten</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/institutes">Hochschulen</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/countries">Länder</a></li>
            <li class="nav-item"><a class="nav-link" href="/homepage/mentor">Mentoren</a></li>
            <li class="nav-item"><a class="nav-link " href="/homepage/courses">Studiengänge</a></li>
            <li class="nav-item"><a class="nav-link active" href="/homepage/reports">Berichte</a></li>
        </ul>
        <ul class="navbar-nav me-2">
        <li class="nav-item m-1">
            <div class="in-navbar" id="handbuch">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">Handbücher</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Anwenderdokumentation.html">Anwenderdokumentation</a></li>
                        <li><a class="dropdown-item" href="/Betriebsdokumentation.html">Betriebsdokumentation</a></li>
                    </ul>
                </div>
            </div>
        </li>
        
        <li class="nav-item m-1">
            <div class="in-navbar" id="Logout">
                <button class="btn btn-sm btn-outline-danger btn-logout" type="button">Logout</button>
            </div>
        </li>
        </ul>
    </div>
    </nav>

    <!-- Drop-Down-Menü zur Auswahl der Fakultät für fakultätsspezifische Verträge -->
    <div class="my-content" id="my-content">

        <br>
        <h4>Bericht zu Fakultät:</h4>
        <form action="">

            <label for="select-faculty-for-report"></label>

            <select class="filter filter_country form-select" name="faculty" id="select-faculty-for-report" required>
                
                <option value="">-Fakultät-</option>
            
            </select>

            <button type="button" class="btn btn-outline-primary me-3" id="create_pdf_button" style="margin: 20px" onclick="createPDF('pdf1',$('#select-faculty-for-report').val())">Erzeugen</button>
        

        </form>
        <ul id="report-list">
            
        </ul>

        <h4>Bericht zu Erasmus-Partnerschaft</h4>
        <button class="btn btn-outline-primary me-3" id="create_pdf2_button" style="margin: 20px" onclick="createPDF('pdf2', 'x')">Erzeugen</button>

        <h4>Bericht zu Hochschulpartnerschaften</h4>
        <button class="btn btn-outline-primary me-3" id="create_pdf3_button" style="margin: 20px" onclick="createPDF('pdf3', 'x')">Erzeugen</button>
    </div>

    
</div>
</body>
</html>
